<!--<nav class="menu menu-is-open" role="navigation">-->

<!--  <div class="menu-close"></div>-->

<!--  <div class="menu-logo">-->
<!--    <a href='#'>-->
<!--      <img src='../../img/logo.jpg' alt='Logo'/>-->
<!--    </a>-->
<!--          <ul>-->
<!--            <li class="ui-menu-item level0 fullwidth">-->
<!--              <a href="#" class="level-top">-->
<!--                <span>Tricouri</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="ui-menu-item level0 fullwidth parent">-->
<!--              <a href="#" class="level-top">-->
<!--                <span>Laptopuri</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="ui-menu-item level0 fullwidth parent">-->
<!--              <a href="#" class="level-top">-->
<!--                <span>Telefoane</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="ui-menu-item level0 fullwidth parent">-->
<!--              <a href="#" class="level-top">-->
<!--                <span>Tablete</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--  </div>-->
<!--</nav>-->

<!--<div class="page-wrapper">-->
<!--  <header class="page-header">-->
<!--    <div class="header-menu">-->
<!--      <div class="menu-show">-->

<!--        <input type='checkbox' id='check'/>-->
<!--        <label for="check" class="open-menu">-->
<!--          <img src="../../img/hamburger.jpeg" alt="">-->
<!--        </label>-->

<!--        <label for="check" class="close-menu">-->
<!--          <i class="fas fa-times"></i>-->
<!--        </label>-->
<!--      </div>-->

<!--      <div class="top-logo">-->
<!--        <a href="#"><img src='../../img/logo.jpg' alt='logo'/></a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="header content">-->
<!--      <div class='button-list'>-->
<!--        <a href="/account" class="logo">-->
<!--          <img ngSrc="./app/img/account.jpg" alt="account">-->
<!--        </a>-->
<!--        <a href="/search" class="search-trigger">-->
<!--          <img ngSrc="./app/img/search.png" alt="search">-->
<!--        </a>-->
<!--        <a href="/cart" class="logo">-->
<!--          <img ngSrc="./app/img/shop.jpg" alt="cart">-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
<!--  <div class="overlay active"></div>-->
<!--</div>-->
