<div class="body">
  <nav>
    <div class='nav-bar'>
      <input type='checkbox' id='check'/>
      <label for="check" class="open-menu">
        <i class="fas fa-bars"></i>
      </label>

      <div class="menu">
        <div class='logo-menu'>
          <a href='#'>
            <img ngSrc='../../../assets/images/marspeed.png' alt='Logo' height="150" width="150" priority/>
          </a>
        </div>
        <div class="level-top">
          <ul>
            <li class="ui-menu-item level0 fullwidth parent">
              <a *ngFor="let products of products" href="#" class="level-top">
                <span>{{ products.type }}</span>
              </a>
            </li>
          </ul>
        </div>

        <label for="check" class="close-menu">
          <i class="fas fa-times"></i>
        </label>
      </div>

      <div class='left-section'>
        <div class='logo'>
          <a href=''>
            <img ngSrc="../../../assets/images/marspeed.png" alt='Logo' height="60" width="100"/>
          </a>
        </div>
      </div>

      <div class='right-section'>
        <div class='button-list-user'>
          <a *ngIf="!isLoggedIn" routerLink="/login" class="logo-account">
            <img ngSrc="../../../assets/images/account.jpg" alt="account" height="40" width="40">
          </a>
          <button *ngIf="isLoggedIn"></button>
          <a href="/products" class="logo-search">
            <img ngSrc="../../../assets/images/search.png" alt="search" height="30" width="30">
          </a>
          <a href="/cart" class="logo-cart">
            <img ngSrc="../../../assets/images/shop.jpg" alt="cart" height="40" width="40">
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>


