<div class="body">
  <nav>
    <ul class='nav-bar'>
      <input type='checkbox' id='check'/>
      <label for="check" class="open-menu">
        <i class="fas fa-bars"></i>
      </label>

      <span class="menu">
                <li>
                  <a href="">categorie</a>
                  <a href="">categorie</a>
                  <a href="">categorie</a>
                  <a href="">categorie</a>
                </li>
                <label for="check" class="close-menu">
                  <i class="fas fa-times"></i>
                </label>
              </span>
      <form id="content">
        <input type="text" name="input" class="input" id="search-input">
        <button type="reset" class="search" id="search-btn"></button>
      </form>

      <div class='left-section'>
        <label for="check" class="open-menu">
          <i class="fas fa-bars"></i>
        </label>
        <div class='logo'>
          <a href='#'>
            <img src='../../img/logo.jpg' alt='Logo'/>
          </a>
        </div>
      </div>
      <div class='right-section'>
        <div class='button-list'>
          <a href="/account" class="logo">
            <img ngSrc="./app/img/account.jpg" alt="account">
          </a>
          <a href="/search" class="logo">
            <img ngSrc="./app/img/search.png" alt="search">
          </a>
          <a href="/cart" class="logo">
            <img ngSrc="./app/img/shop.jpg" alt="cart">
          </a>
        </div>
      </div>
    </ul>
  </nav>
</div>


