<!-------------------------------------------------------------------------------------------------------------------->
<div class="log-in">
  <div class="body-login">
    <form #signIn="ngForm" class="login-form" (ngSubmit)="logIn(signIn.value)">
      <div class="title">Login</div>
      <div>
        <label for="username">Username:</label>
        <input
          type="email"
          [(ngModel)]="username"
          name="username"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          [(ngModel)]="password"
          name="password"
          required

        />
      </div>
      <button class="login-button" type="submit">Login</button>
      <div class="prompt">
        Don't have an account?
        <a class="redirect" (click)="handleRegisterClick()">
          Register</a>
      </div>
      <p>{{ authError }}</p>
    </form>
  </div>
</div>
