<app-header></app-header>
<div>
  <form #singUp="ngForm" class="registration-form" (ngSubmit)="handleSubmit(singUp.value)">
    <div class="title">Create an account</div>

    <div>
      <label for="firstName">Name</label>
      <input
        type="text"
        id="firstName"
        [(ngModel)]="firstName"
        required
        name="firstName"
      />
    </div>
    <div>
      <label for="lastName">Last name</label>
      <input
        type="text"
        id="lastName"
        [(ngModel)]="lastName"
        name="lastName"
        required
      />
    </div>
    <div>
      <label for="middleName">Middle Name</label>
      <input type="text"
             id="middleName"
             [(ngModel)]="middleName"
             name="middleName"
             required
      />
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email"
             id="email"
             [(ngModel)]="email"
             name="email"
             required
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password"
             id="password"
             [(ngModel)]="password"
             name="password"
             required
      />
    </div>
    <!--    <div>-->
    <!--      <label for="streetLine">Street Line</label>-->
    <!--      <input type="text"-->
    <!--             id="streetLine"-->
    <!--             [(ngModel)]="streetLine"-->
    <!--             name="streetLine"-->
    <!--             required-->
    <!--      />-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <label for="postalCode">Postal code</label>-->
    <!--      <input type="text"-->
    <!--             id="postalCode"-->
    <!--             [(ngModel)]="postalCode"-->
    <!--             name="postalCode"-->
    <!--             required-->
    <!--      />-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <label for="city">City</label>-->
    <!--      <input type="text"-->
    <!--             id="city"-->
    <!--             [(ngModel)]="city"-->
    <!--             name="city"-->
    <!--             required-->
    <!--      />-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <label for="county">County</label>-->
    <!--      <input type="text"-->
    <!--             id="county"-->
    <!--             [(ngModel)]="county"-->
    <!--             name="county"-->
    <!--             required-->
    <!--      />-->
    <!--    </div>-->
    <!--    <div>-->
    <!--      <label for="country">Country</label>-->
    <!--      <input type="text"-->
    <!--             id="country"-->
    <!--             [(ngModel)]="country"-->
    <!--             name="country"-->
    <!--             required-->
    <!--      />-->
    <!--    </div>-->


    <button class="register-button" type="submit">Sign up</button>
    <div class="prompt">
      You have already an account?
      <a class="redirect" (click)="handleLoginClick()"> Login</a>
    </div>
  </form>
</div>
